<div class="container_devise">
  <div class="devise_frame">
    <p class="devise_title">新しいアカウントを作成</p>
    <div class="devise_inner">
      <%= form_with model: @user,  url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <% f.label :name %>
          <%= f.text_field :name, placeholder: "ユーザー名", autofocus: true, class: "form-control", autocomplete: "name" %>
        </div>
        <div class="field">
          <% f.label :email %>
          <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <% f.label :password %>
          <%= f.password_field :password, placeholder: "パスワード", class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <% f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control", autocomplete: "new-password" %>
        </div>
        
        <div class="field">
          <% f.label :profile %>
          <%= f.text_area :profile, placeholder: "自己紹介を記入", class: "form-control" %>
        </div>
        
        <div class="field">
          <em><%= f.label :icon_image , "プロフィール画像をアップロード(後で変更可)" %></em>
          <%= f.file_field :icon_image, class: "form-control", multipart: true %>
        </div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成", class: "btn btn-success"%>
        </div>
      <% end %>

      <a href="/users/sign_in">すでにアカウントをお持ちの方はログイン</a>
    </div>
  </div>
</div>